:root {
  --primary-color: #0f172a;
  --accent-color: #38bdf8;
  --bg-color: #f8fafc;
  --text-color: #1e293b;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
