.projects .project-placeholder {
    border          : 2px dashed #cbd5e1;
    padding         : 2rem;
    border-radius   : 10px;
    background-color: #f1f5f9;
    text-align      : center;
    color           : #64748b;
    font-size       : 1rem;
}

.projects h2{
    margin-bottom: 1rem;
}

.projects > .project-grid {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap                  : 1.5rem;
  max-width            : 1100px;
  margin               : 0 auto
}